:root {
    background-color: #0b090a;
}

/*Barra de busqueda*/
.body {
    margin: initial;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}

.header {
    position: fixed;
    z-index: 30;
    top: 0;
    width: 100%;
    background: rgb(107, 26, 26);
    box-shadow: 0 0 4px 2px white;
}

.nav {
    padding-top: 16px;
    padding-bottom: 16px;
}

.container {
    display: flex;
    max-width: 1024px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0 auto;
}

.align-s {
    align-items: flex-start;
}

.lista {
    margin: 2rem;
    padding: initial;
    list-style: none;
    font-size: 40px;
}

.flexbox {
    display: flex;
}

.flexbox-centered {
    align-items: center;
    justify-content: space-around;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.g-8px {
    gap: 50px;
}


.link {
    color: inherit;
    text-decoration: initial;
    font-weight: 700;
    transition: color 0.35s;
    
    &:hover {
        color: #b1a7a6;
    }
}

@media (width >=768px) {
    .md\:d-flex {
        display: flex;
    }
}
/* barra-de-busqueda */

.bi{
    width: 90px;
    height: 80px;
}

.bi-person-fill,
.bi-cart,
.bi-whatsapp {
    width: 100%;
    color: rgb(244, 247, 245);
}

.main {
    font-size: 25px;
    margin: 10px;
}

/* breve informacion de la comida y carne */
.section-information {
    font-size: 45px;
    margin: 10px;
    position: relative;
}

.div-information {
    left: 120px;
    width: 180vh;
    height: 50vh;
    background: rgb(61, 61, 72);
    position: relative;
}

.display-information {
    display: grid;
    place-items: center;
    width: 100%;
}

.text {
    margin: 0 auto;
    padding: 5px;
    text-align: justify;
}

.img--partes_de_res {
    height: 200px;
}

/* Cortes de carne de res */
.contenedor-titulo {
    margin: 0 auto;
    padding: 20px;
    height: 100px;  
    width: 200px;
}

.div-titulo {
    font-family: 'Roboto Slab', serif;
    width: 500px;
    height: 150px;
    display: grid;
    place-items: center;
}

.titulo {
    font-size: 200px;
    text-align: center;
    margin: auto;
    color: #ffffff;
}

.contenedor-img {
    border: 100px;
    display: grid;
    grid-row: 1fr;
    place-items: center;
    margin: 100px;
    /* width: 100%; */
}

.div-img {
    width: 100vw;
    z-index: 200;
    /* max-width: 2100px; */
    /* background: rgb(87, 90, 94); */
}

.list-imagenes {
    margin: 20px;
    display: inline-block;
    border: 120px;
}

/* .img--cortes {
    width: 30vw;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px .5px #ffffff;
    max-width: 100%;
} */

.div-img:hover > div{
    color: rgb(61, 61, 72);
}

/* Medio de comunicación */
.whatsapp{
    display: flex;
    padding-left: 100%;
    padding-top: 100%;
}

/* Footer */

.pie_de_pagina {
    color: rgb(244, 247, 245);
}