#root{
}

html body{
    margin: 0 auto;
    background: #A6A9AA
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 80;
    font-family: 'Josefin Slab', serif;
}

.nav{
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000;
    width: 100%;
}

.contenedor {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1440px;
    margin: 0 auto;
}

.flexbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-f{
    margin: initial;
    padding: 0;
    list-style: none;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.d-flex{
    display: flex;
    gap: 18px;
}

.gap{
    gap: 15px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 80px;
    background: #660708;
    border-radius: 10px;
    flex-shrink: 0;
}

.lista{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: initial;
    font-size: 30px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
}

.link{
    text-decoration: initial;
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
}

.lista a{
    color: rgb(244, 247, 245);
    transition: color 0.35s;
    text-decoration: none;
    &:hover {
        color: #BA181B;
    }
}

.link i{
    color: rgb(244, 247, 245);
    text-decoration: none;
    transition: color 0.35s;
    &:hover {
        color: #BA181B;
    }

}

.responsive-ul{
    display: none;
}

/* Responsive */
@media (max-width: 850px) {
    .r {
        display: none;
    }

    .nav{
        height: 90px;
        width: 100%;
        background-color: #000;
    }

    .responsive-ul{
        display: block;
        position: absolute;
        width: 100%;
        background: #660708;
        height: 100%;
        list-style: none;
        top: 200px;
        left: 0;
    }
    
    .link-responsive
    .lista-responsive{
        width: 100%;
        padding: 9px;
    }   
    .lista-responsive a{
        text-decoration: none;
        list-style: none;
        color: rgb(244, 247, 245);
    }
    
    .link-responsive i{
        text-decoration: none;
        color: rgb(244, 247, 245);
    }
    
}
.div_button-responsive i{
    color: rgb(244, 247, 245);
    font-size: 25px;
    padding: 10px 10px;
}

.div_button-responsive{
    float: left;
}
/* Fin de responsive (incompleto) */
.main{
    /* width: 100%; */
    position: relative;
}

.container{
    padding: 2rem;
}

.slider-wrapper{
    top: 130px;
    position: relative;
    max-width: 75rem;
    margin: 0 auto;
    border: 1px solid #000;
}
  
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem /0.75rem hsla(0, 0%, 0%, 0.25);
}
  
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    opacity: .87;
}
  
.slider-nav{
    display: flex;
    column-gap: 1.5rem;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
  
.slider-nav a{
    width: .78rem;
    height: .78rem;
    border-radius: 50%;
    background: #fff;
    opacity: .75;
    transition: opacity ease 250ms;
}
  
.slider-nav a:hover{
    opacity: 1;
}
  
.texto{
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), rgba(166, 169, 170, 50%);
    border-radius: 8px;
}

.texto h1{
    font-size: 40px;
    padding-left: 15px;
    color: #660708;
    font-family: 'Josefin Slab', serif;
    font-weight: 800;
}

.texto p{
    font-size: 20px;
    padding-left: 10px;
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
}